body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Righteous', cursive;
}

.arcabouco {
    background-image: url('../img/menu-teste.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header {
    background-color: #1b676b;
}

.nav-link{
    height: 60px;
    color: #ddd9ce;
}

.nav-link:hover {
    color: white;
}

#itens-menu  {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: auto;
    align-items: center;  
    font-family: 'Righteous', cursive;
}

#itens-menu .nav-item {
    margin-left: 10px;
}

.container {
    color: white;
    font-family: 'Righteous', cursive;
    margin-left: 100px;
    
    background-size: cover;
}

.lado-esquerdo {
    float: left;
    text-align: center;
}

.lado-direito {
    float: right;
}

.lado-direito .h1 {
    font-size: 40px;
}

#lagoa {
    border-radius: 20px;
    border: 3px solid #115154;

}
.conteudo{
    padding-left: 330px;
    padding-top: 30px;
}
.h2{
    padding-top: 45px;
    font-family: 'Righteous', cursive;
}
label{
    font-family: 'Righteous', cursive;
}

